.root {
  align-items: stretch;
  background-color: var(--todo-item-bg-color);
  border: 1px solid var(--todo-item-border-color);
  border-radius: 22px;
  display: flex;
  height: 44px;
  margin: 0 0 5px;
  padding: 0 5px;

  .handle {
    align-items: center;
    color: var(--todo-item-handle-color);
    cursor: pointer;
    display: flex;
    padding: 0 4px 0 12px;

    &:hover {
      color: var(--todo-item-handle-hover-color);
    }
  }

  .icon_button {
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--todo-item-icon-color);
    cursor: pointer;
    display: flex;
    padding: 0 10px 0 10px;

    &:hover {
      color: var(--todo-item-icon-hover-color);
      opacity: 1;
    }
  }

  .text_display {
    align-items: center;
    color: var(--todo-item-text-color);
    cursor: pointer;
    display: flex;
    height: 100%;
    flex-grow: 1;
    margin: 1px 0;
    overflow: hidden;
    padding: 0 0 0 8px;
    text-decoration: none;
    text-overflow: ellipsis;
  }

  .text {
    align-items: center;
    display: flex;
    height: 100%;
    flex-grow: 1;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;

    &.done {
      color: var(--todo-item-text-done-color);
      text-decoration: line-through;
    }
  }

  .form {
    display: flex;
    flex-grow: 1;
    height: 100%;
  }

  .text_edit {
    background-color: var(--todo-item-input-bg-color);
    cursor: auto;

    .text_input {
      background-color: transparent;
      border: none;
      padding: 0;

      .done & {
        color: var(--todo-item-text-done-color);
        text-decoration: line-through;
      }

      &:hover,
      &:focus {
        color: var(--todo-item-text-color);
        outline: none;
      }
    }
  }
}
